body{
    font-family: 'Signika Negative', sans-serif;
}

.box-sh{
    box-shadow: 2px 2px 8px 7px rgb(214, 211, 211);
}

.nave ul li a{
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.nave ul li a:hover{
  /* background-color:white; */
  color: rgb(70, 185, 252)!important;
  font-size: 23px;
}
